* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #121212; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
}

header {
    background: #000000; /* Header escuro */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff; /* Cor do link */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #acacac; /* Cor do link ao passar o mouse */
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #000000; /* Fundo das seções */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    margin-bottom: 10px;
    color: #7c7b7b; /* Título em amarelo */
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.images {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.images img {
    width: calc(33.33% - 10px);
    border-radius: 8px;
    transition: transform 0.3s;
}

.images img:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #e0e0e0; /* Cor do rótulo */
}

input, textarea {
    padding: 10px;
    border: 1px solid #444; /* Borda escura */
    border-radius: 4px;
    background: #333; /* Fundo do input */
    color: #e0e0e0; /* Texto claro */
}

button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background: #1ce715; /* Botão verde */
    color: #121212; /* Texto escuro */
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #1fc71a; /* Cor do botão ao passar o mouse */
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e1e1e; /* Fundo do footer */
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
